
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 144rem;
}.sencond-page-Nt6 {
  cursor: pointer;
  position: relative;
  overflow: hidden;
  background-color: #ffffff;
  width: 100%;
  height: 102.4rem;

  .rectangle-3-UAS {
    width: 144rem;
    height: 6.4rem;
    position: absolute;
    left: 0;
    top: 96rem;
    box-shadow: 0 -0.4rem 1rem rgba(0, 0, 0, 0.25);
    background-color: #181818;
  }
  .prezzo-79-000-B4r {
    line-height: 1.1725;
    display: flex;
    align-items: baseline;
    width: 17.1rem;
    height: 2.9rem;
    font-size: 2.4rem;
    font-weight: 300;
    color: #ffffff;
    font-family: Roboto, 'Source Sans Pro';
    white-space: nowrap;
    position: absolute;
    left: 6.5rem;
    top: 97.8rem;

    .prezzo-79-000-B4r-sub-0 {
      color: #ffffff;
      font-family: Roboto, 'Source Sans Pro';
      font-size: 2.4rem;
      font-weight: 400;
      line-height: 1.1725;
    }
    .prezzo-79-000-B4r-sub-1 {
    }
  }
  .rectangle-1-UCN {
    height: 102.4rem;
    left: 87.5rem;
    border: solid 0 #000000;
    box-sizing: border-box;
    background-color: #ffffff;
    width: 56.5rem;
    position: absolute;
    top: 0;
    box-shadow: 0 0.4rem 1rem rgba(0, 0, 0, 0.25);
  }
  .rectangle-2-Mmx {
    position: absolute;
    box-shadow: 0 0.4rem 1rem rgba(0, 0, 0, 0.25);
    left: 0;
    top: 0;
    border: solid 0 #000000;
    box-sizing: border-box;
    background-color: #ffffff;
    width: 144rem;
    height: 7.8rem;
  }
  .rectangle-6-FsL {
    top: 96rem;
    box-sizing: border-box;
    box-shadow: -0.4rem -0.4rem 1rem rgba(0, 0, 0, 0.25);
    background-color: #f8313e;
    width: 56.5rem;
    height: 6.4rem;
    position: absolute;
    left: 87.5rem;
    border: solid 0 #000000;
  }
  .velocit-avanzata-meser-Ltn {
    display: flex;
    align-items: baseline;
    width: 31rem;
    font-size: 2.4rem;
    color: #000000;
    font-family: Roboto, 'Source Sans Pro';
    font-weight: 400;
    line-height: 1.1725;
    white-space: nowrap;
    height: 2.9rem;
    position: absolute;
    left: 9.2rem;
    top: 2.5rem;

    .velocit-avanzata-meser-Ltn-sub-0 {
      color: #000000;
      font-family: Roboto, 'Source Sans Pro';
      font-size: 2.4rem;
      font-weight: 500;
      line-height: 1.1725;
    }
    .velocit-avanzata-meser-Ltn-sub-1 {
    }
  }
  .ellipse-1-iuL {
    left: 112.1rem;
    top: 91.4rem;
    border: solid 0.2rem #000000;
    box-sizing: border-box;
    border-radius: 0.9rem;
    width: 1.8rem;
    height: 1.8rem;
    position: absolute;
  }
  .ellipse-2-2f8 {
    left: 114.9rem;
    top: 91.4rem;
    background-color: #f8313e;
    border-radius: 0.9rem;
    width: 1.8rem;
    height: 1.8rem;
    position: absolute;
  }
  .ellipse-3-AFY {
    left: 117.7rem;
    top: 91.4rem;
    border: solid 0.2rem #000000;
    box-sizing: border-box;
    border-radius: 0.9rem;
    width: 1.8rem;
    height: 1.8rem;
    position: absolute;
  }
  .colore-GpN {
    line-height: 1.1725;
    font-family: Roboto, 'Source Sans Pro';
    color: #000000;
    width: 10.3rem;
    height: 4.3rem;
    position: absolute;
    left: 90.7rem;
    top: 12rem;
    font-size: 3.6rem;
    font-weight: 300;
    white-space: nowrap;
  }
  .ruote-mWE {
    height: 4.3rem;
    line-height: 1.1725;
    top: 39.6rem;
    font-size: 3.6rem;
    font-weight: 300;
    color: #000000;
    font-family: Roboto, 'Source Sans Pro';
    width: 9.3rem;
    position: absolute;
    left: 90.7rem;
    white-space: nowrap;
  }
  .rectangle-7-sZG {
    top: 48.1rem;
    box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
    background-color: #ffffff;
    width: 10.4rem;
    height: 12rem;
    position: absolute;
    left: 100.3rem;
  }
  .rectangle-9-ycJ {
    left: 119.7rem;
    top: 20.1rem;
    box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
    background-color: #ffffff;
    width: 10.4rem;
    height: 11.6rem;
    position: absolute;
  }
  .procedi-Hcz {
    font-weight: 400;
    font-family: Roboto, 'Source Sans Pro';
    white-space: nowrap;
    position: absolute;
    top: 97.8rem;
    text-align: center;
    font-size: 2.4rem;
    text-transform: uppercase;
    color: #ffffff;
    width: 9.8rem;
    height: 2.9rem;
    left: 110.85rem;
    line-height: 1.1725;
  }
  .cosysec-3-1-yEv {
    width: 7.6rem;
    height: 7.6rem;
    position: absolute;
    left: 110.8rem;
    top: 21.2rem;
    object-fit: cover;
    vertical-align: top;
  }
  .cosysec-2-UhU {
    vertical-align: top;
    width: 8.6rem;
    height: 8.6rem;
    position: absolute;
    left: 101.2rem;
    top: 48.8rem;
    object-fit: cover;
  }
  .cosysec-1-1Bc {
    vertical-align: top;
    width: 8.5rem;
    height: 8.6rem;
    position: absolute;
    left: 90.9rem;
    top: 48.8rem;
    object-fit: cover;
  }
  .cosysec-1-vpN {
    object-fit: cover;
    vertical-align: top;
    width: 7.6rem;
    height: 7.6rem;
    position: absolute;
    left: 90.8rem;
    top: 21.2rem;
  }
  .cosysec-fGA {
    object-fit: cover;
    vertical-align: top;
    width: 7.6rem;
    height: 7.6rem;
    position: absolute;
    left: 100.8rem;
    top: 21.2rem;
  }
  .cosysec-2-nra {
    object-fit: cover;
    vertical-align: top;
    width: 7.6rem;
    height: 7.6rem;
    position: absolute;
    left: 121.1rem;
    top: 21.2rem;
  }
  .rectangle-8-vSz {
    box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
    background-color: #f8313e;
    width: 10.4rem;
    height: 2.4rem;
    position: absolute;
    left: 100.3rem;
    top: 58rem;
  }
  .rectangle-10-EyU {
    width: 10.4rem;
    height: 2.4rem;
    position: absolute;
    left: 119.7rem;
    top: 30rem;
    box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
    background-color: #f8313e;
  }
  .item-1999-wN6 {
    position: absolute;
    top: 58.4rem;
    font-size: 1.4rem;
    line-height: 1.1725;
    font-family: Roboto, 'Source Sans Pro';
    white-space: nowrap;
    width: 4rem;
    height: 1.7rem;
    left: 103.5rem;
    text-align: center;
    font-weight: 400;
    color: #ffffff;
  }
  .item-5000-dki {
    height: 1.7rem;
    left: 122.9rem;
    top: 30.4rem;
    text-align: center;
    font-size: 1.4rem;
    color: #ffffff;
    width: 4rem;
    font-weight: 400;
    line-height: 1.1725;
    font-family: Roboto, 'Source Sans Pro';
    white-space: nowrap;
    position: absolute;
  }
  .vernice-metallica-fire-red-8xN {
    font-family: Roboto, 'Source Sans Pro';
    text-align: center;
    font-size: 1.6rem;
    color: #000000;
    align-items: baseline;
    width: 20.3rem;
    top: 70.4rem;
    line-height: 1.1725;
    display: flex;
    height: 1.9rem;
    position: absolute;
    left: 92.75rem;
    font-weight: 400;
    white-space: nowrap;

    .vernice-metallica-fire-red-8xN-sub-0 {
      font-family: Roboto, 'Source Sans Pro';
      font-size: 1.6rem;
      font-weight: 400;
      line-height: 1.1725;
      color: #1c69d4;
    }
    .vernice-metallica-fire-red-8xN-sub-1 {
    }
  }
  .ruote-sport-QHc {
    width: 12.3rem;
    position: absolute;
    font-size: 1.6rem;
    font-weight: 400;
    font-family: Roboto, 'Source Sans Pro';
    align-items: baseline;
    height: 1.9rem;
    left: 90.7rem;
    top: 74.7rem;
    line-height: 1.1725;
    color: #000000;
    white-space: nowrap;
    display: flex;

    .ruote-sport-QHc-sub-0 {
      font-weight: 400;
      line-height: 1.1725;
      color: #1c69d4;
      font-family: Roboto, 'Source Sans Pro';
      font-size: 1.6rem;
    }
    .ruote-sport-QHc-sub-1 {
    }
  }
  .line-1-kkn {
    box-shadow: 0 0.3rem 1.5rem rgba(0, 0, 0, 0.0500000007);
    width: 56.5rem;
    height: 0.1rem;
    position: absolute;
    left: 87.5rem;
    top: 65.2rem;
    background-color: #eaeaea;
  }
  .line-2-3E6 {
    background-color: #000000;
    box-shadow: 0 0.3rem 1.5rem rgba(0, 0, 0, 0.0500000007);
    width: 51.7rem;
    height: 0.1rem;
    position: absolute;
    left: 89.9rem;
    top: 80.5rem;
  }
  .item-5000-wKU {
    text-align: center;
    color: #000000;
    position: absolute;
    height: 1.7rem;
    left: 136.8rem;
    top: 70.6rem;
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 1.1725;
    font-family: Roboto, 'Source Sans Pro';
    width: 4rem;
    white-space: nowrap;
  }
  .item-1999-1q8 {
    width: 4rem;
    height: 1.7rem;
    position: absolute;
    text-align: center;
    font-weight: 400;
    color: #000000;
    left: 136.8rem;
    top: 75rem;
    font-size: 1.4rem;
    line-height: 1.1725;
    font-family: Roboto, 'Source Sans Pro';
    white-space: nowrap;
  }
  .item-6999-uQi {
    text-align: center;
    line-height: 1.1725;
    height: 1.7rem;
    font-size: 1.4rem;
    font-weight: 400;
    color: #000000;
    white-space: nowrap;
    font-family: Roboto, 'Source Sans Pro';
    display: flex;
    align-items: baseline;
    width: 5.1rem;
    position: absolute;
    left: 135.7rem;
    top: 82.7rem;

    .item-6999-uQi-sub-0 {
      font-size: 1.4rem;
      font-weight: 400;
      line-height: 1.1725;
      color: #1c69d4;
      font-family: Roboto, 'Source Sans Pro';
    }
    .item-6999-uQi-sub-1 {
    }
  }
  .totale--eWi {
    font-family: Roboto, 'Source Sans Pro';
    width: 4.3rem;
    left: 90.3rem;
    font-weight: 400;
    line-height: 1.1725;
    font-size: 1.4rem;
    color: #000000;
    white-space: nowrap;
    height: 1.7rem;
    position: absolute;
    top: 82.7rem;
    text-align: center;
  }
  .rectangle-11-Mvv {
    border: solid 0 #000000;
    box-sizing: border-box;
    box-shadow: -0.4rem -0.4rem 1rem rgba(0, 0, 0, 0.25);
    background-color: #f8313e;
    width: 28.5rem;
    height: 3.2rem;
    position: absolute;
    left: 29.5rem;
    top: 89.1rem;
  }
  .rectangle-12-rcn {
    height: 3.2rem;
    position: absolute;
    box-shadow: -0.2rem 0 0.5rem rgba(0, 0, 0, 0.1000000015);
    width: 14.2rem;
    left: 43.8rem;
    top: 89.1rem;
    border: solid 0 #000000;
    box-sizing: border-box;
    background-color: #ffffff;
  }
  .esterni-ky4 {
    font-family: Roboto, 'Source Sans Pro';
    position: absolute;
    top: 90.1rem;
    text-align: center;
    font-size: 1.4rem;
    line-height: 1.1725;
    text-transform: capitalize;
    color: #ffffff;
    width: 4.4rem;
    height: 1.7rem;
    left: 34.45rem;
    font-weight: 400;
    white-space: nowrap;
  }
  .iterni-rWJ {
    height: 1.7rem;
    left: 49.3rem;
    top: 90.1rem;
    line-height: 1.1725;
    text-transform: capitalize;
    width: 3.2rem;
    position: absolute;
    text-align: center;
    font-size: 1.4rem;
    font-weight: 400;
    color: #000000;
    font-family: Roboto, 'Source Sans Pro';
    white-space: nowrap;
  }
  .foto1-3-y58 {
    vertical-align: top;
    width: 102.1rem;
    height: 41.3rem;
    position: absolute;
    left: 0;
    top: 35.5rem;
    object-fit: cover;
  }
}
