
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 144rem;
}.summary-CZt {
  width: 100%;
  height: 102.4rem;
  position: relative;
  overflow: hidden;
  background-color: #ffffff;

  .rectangle-3-JN2 {
    background-color: #181818;
    width: 144rem;
    height: 6.4rem;
    position: absolute;
    left: 0;
    top: 96rem;
    box-shadow: 0 -0.4rem 1rem rgba(0, 0, 0, 0.25);
  }
  .rectangle-1-c7p {
    position: absolute;
    left: 87.5rem;
    top: 0;
    border: solid 0 #000000;
    width: 56.5rem;
    height: 102.4rem;
    box-sizing: border-box;
    box-shadow: 0 0.4rem 1rem rgba(0, 0, 0, 0.25);
    background-color: #ffffff;
  }
  .rectangle-2-uMp {
    background-color: #ffffff;
    width: 144rem;
    position: absolute;
    top: 0;
    border: solid 0 #000000;
    box-shadow: 0 0.4rem 1rem rgba(0, 0, 0, 0.25);
    height: 7.8rem;
    left: 0;
    box-sizing: border-box;
  }
  .rectangle-6-1Qr {
    top: 96rem;
    border: solid 0 #000000;
    box-shadow: -0.4rem -0.4rem 1rem rgba(0, 0, 0, 0.25);
    background-color: #f8313e;
    position: absolute;
    height: 6.4rem;
    left: 87.5rem;
    box-sizing: border-box;
    width: 56.5rem;
  }
  .velocit-avanzata-meser-WcW {
    height: 2.9rem;
    top: 2.5rem;
    line-height: 1.1725;
    font-family: Roboto, 'Source Sans Pro';
    width: 31rem;
    position: absolute;
    left: 9.2rem;
    font-size: 2.4rem;
    font-weight: 400;
    color: #000000;
    white-space: nowrap;
    display: flex;
    align-items: baseline;

    .velocit-avanzata-meser-WcW-sub-0 {
      font-size: 2.4rem;
      font-weight: 500;
      line-height: 1.1725;
      color: #000000;
      font-family: Roboto, 'Source Sans Pro';
    }
    .velocit-avanzata-meser-WcW-sub-1 {
    }
  }
  .resoconto-PZp {
    width: 17rem;
    height: 4.3rem;
    top: 12rem;
    font-weight: 300;
    color: #000000;
    font-family: Roboto, 'Source Sans Pro';
    position: absolute;
    left: 90.7rem;
    font-size: 3.6rem;
    line-height: 1.1725;
    white-space: nowrap;
  }
  .compra-meser-Vcr {
    font-weight: 400;
    line-height: 1.1725;
    color: #ffffff;
    font-family: Roboto, 'Source Sans Pro';
    width: 18.8rem;
    height: 2.9rem;
    left: 106.35rem;
    text-align: center;
    white-space: nowrap;
    position: absolute;
    top: 97.8rem;
    font-size: 2.4rem;
    text-transform: uppercase;
  }
  .line-1-PiE {
    background-color: #eaeaea;
    box-shadow: 0 0.3rem 1.5rem rgba(0, 0, 0, 0.0500000007);
    width: 56.5rem;
    height: 0.1rem;
    position: absolute;
    left: 87.5rem;
    top: 46.2rem;
  }
  .line-2-hU2 {
    top: 80.5rem;
    background-color: #000000;
    box-shadow: 0 0.3rem 1.5rem rgba(0, 0, 0, 0.0500000007);
    width: 51.7rem;
    height: 0.1rem;
    position: absolute;
    left: 89.9rem;
  }
  .item-6-000--QdL {
    font-size: 1.4rem;
    font-family: Roboto, 'Source Sans Pro';
    width: 4.7rem;
    position: absolute;
    left: 135.3rem;
    top: 61.1rem;
    text-align: center;
    font-weight: 400;
    line-height: 1.1725;
    color: #000000;
    height: 1.7rem;
    white-space: nowrap;
  }
  .item-10-000--5zN {
    position: absolute;
    left: 135.3rem;
    top: 56.8rem;
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 1.1725;
    color: #000000;
    width: 5.5rem;
    font-family: Roboto, 'Source Sans Pro';
    text-align: right;
    white-space: nowrap;
    height: 1.7rem;
  }
  .item-59-000--BXc {
    font-family: Roboto, 'Source Sans Pro';
    height: 1.7rem;
    position: absolute;
    font-size: 1.4rem;
    color: #000000;
    font-weight: 400;
    line-height: 1.1725;
    white-space: nowrap;
    width: 5.5rem;
    left: 135.3rem;
    top: 52.5rem;
    text-align: right;
  }
  .item-10-000--GZ4 {
    position: absolute;
    left: 134.9rem;
    text-align: center;
    width: 5.5rem;
    height: 1.7rem;
    font-weight: 400;
    line-height: 1.1725;
    color: #000000;
    font-family: Roboto, 'Source Sans Pro';
    white-space: nowrap;
    top: 65.5rem;
    font-size: 1.4rem;
  }
  .item-109-000--BR8 {
    position: absolute;
    top: 82.7rem;
    text-align: right;
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 1.1725;
    color: #000000;
    height: 1.7rem;
    font-family: Roboto, 'Source Sans Pro';
    left: 134.6rem;
    white-space: nowrap;
    width: 6.2rem;
  }
  .totale--HDG {
    height: 1.7rem;
    line-height: 1.1725;
    color: #000000;
    font-family: Roboto, 'Source Sans Pro';
    width: 4.3rem;
    position: absolute;
    left: 90.7rem;
    top: 82.7rem;
    font-size: 1.4rem;
    font-weight: 400;
    white-space: nowrap;
  }
  .velocit-avanzata-meser-modello-sport-BZY {
    font-family: Roboto, 'Source Sans Pro';
    width: 42rem;
    height: 2.9rem;
    top: 19.2rem;
    font-size: 2.4rem;
    font-weight: 400;
    line-height: 1.1725;
    color: #000000;
    white-space: nowrap;
    position: absolute;
    left: 90.7rem;
  }
  .frame-1-sSN {
    position: absolute;
    left: 90.7rem;
    top: 52.5rem;
    row-gap: 2.4rem;
    display: flex;
    flex-direction: column;
    width: 26.1rem;
    height: 23.4rem;

    .meser-AwG {
      line-height: 1.1725;
      color: #000000;
      font-family: Roboto, 'Source Sans Pro';
      white-space: nowrap;
      flex-shrink: 0;
      font-size: 1.6rem;
      font-weight: 400;
    }
    .modello-sport-K3U {
      color: #000000;
      align-items: baseline;
      flex-shrink: 0;
      font-size: 1.6rem;
      font-weight: 400;
      line-height: 1.1725;
      font-family: Roboto, 'Source Sans Pro';
      white-space: nowrap;
      display: flex;

      .modello-sport-K3U-sub-0 {
        font-size: 1.6rem;
        font-weight: 400;
        line-height: 1.1725;
        color: #1c69d4;
        font-family: Roboto, 'Source Sans Pro';
      }
      .modello-sport-K3U-sub-1 {
      }
    }
    .verniciatura-metallizzata-fire-red-F5Y {
      font-family: Roboto, 'Source Sans Pro';
      align-items: baseline;
      flex-shrink: 0;
      font-size: 1.6rem;
      font-weight: 400;
      line-height: 1.1725;
      color: #000000;
      white-space: nowrap;
      display: flex;

      .verniciatura-metallizzata-fire-red-F5Y-sub-0 {
        font-size: 1.6rem;
        font-weight: 400;
        line-height: 1.1725;
        color: #1c69d4;
        font-family: Roboto, 'Source Sans Pro';
      }
      .verniciatura-metallizzata-fire-red-F5Y-sub-1 {
      }
    }
    .cerchioni-sport-jet-black-d66 {
      white-space: nowrap;
      display: flex;
      flex-shrink: 0;
      font-size: 1.6rem;
      font-weight: 400;
      line-height: 1.1725;
      color: #000000;
      font-family: Roboto, 'Source Sans Pro';
      align-items: baseline;

      .cerchioni-sport-jet-black-d66-sub-0 {
        line-height: 1.1725;
        color: #1c69d4;
        font-family: Roboto, 'Source Sans Pro';
        font-size: 1.6rem;
        font-weight: 400;
      }
      .cerchioni-sport-jet-black-d66-sub-1 {
      }
    }
    .interni-pelle-nera-pAa {
      white-space: nowrap;
      display: flex;
      align-items: baseline;
      font-size: 1.6rem;
      color: #000000;
      font-family: Roboto, 'Source Sans Pro';
      font-weight: 400;
      line-height: 1.1725;
      flex-shrink: 0;

      .interni-pelle-nera-pAa-sub-0 {
        font-weight: 400;
        line-height: 1.1725;
        color: #1c69d4;
        font-family: Roboto, 'Source Sans Pro';
        font-size: 1.6rem;
      }
      .interni-pelle-nera-pAa-sub-1 {
      }
    }
    .dettagli-in-aluminio-dti {
      font-family: Roboto, 'Source Sans Pro';
      flex-shrink: 0;
      white-space: nowrap;
      display: flex;
      align-items: baseline;
      font-size: 1.6rem;
      font-weight: 400;
      line-height: 1.1725;
      color: #000000;

      .dettagli-in-aluminio-dti-sub-0 {
        line-height: 1.1725;
        color: #1c69d4;
        font-family: Roboto, 'Source Sans Pro';
        font-size: 1.6rem;
        font-weight: 400;
      }
      .dettagli-in-aluminio-dti-sub-1 {
      }
    }
  }
  .item-25-000--F9Q {
    position: absolute;
    left: 135.3rem;
    color: #000000;
    white-space: nowrap;
    width: 5.5rem;
    top: 69.6rem;
    text-align: center;
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 1.1725;
    font-family: Roboto, 'Source Sans Pro';
    height: 1.7rem;
  }
  .item-9-000--YeJ {
    height: 1.7rem;
    top: 74.6rem;
    font-weight: 400;
    color: #000000;
    font-family: Roboto, 'Source Sans Pro';
    width: 4.7rem;
    position: absolute;
    left: 135.7rem;
    text-align: right;
    font-size: 1.4rem;
    line-height: 1.1725;
    white-space: nowrap;
  }
  .rectangle-11-dfk {
    position: absolute;
    box-sizing: border-box;
    box-shadow: -0.4rem -0.4rem 1rem rgba(0, 0, 0, 0.25);
    background-color: #f8313e;
    width: 28.5rem;
    height: 3.2rem;
    left: 29.5rem;
    top: 89.1rem;
    border: solid 0 #000000;
  }
  .rectangle-12-KYa {
    border: solid 0 #000000;
    box-shadow: -0.2rem 0 0.5rem rgba(0, 0, 0, 0.1000000015);
    background-color: #ffffff;
    width: 14.2rem;
    height: 3.2rem;
    left: 43.8rem;
    top: 89.1rem;
    position: absolute;
    box-sizing: border-box;
  }
  .esterni-oyY {
    width: 4.4rem;
    top: 90.1rem;
    font-size: 1.4rem;
    line-height: 1.1725;
    text-transform: capitalize;
    white-space: nowrap;
    height: 1.7rem;
    position: absolute;
    left: 34.45rem;
    text-align: center;
    font-weight: 400;
    color: #ffffff;
    font-family: Roboto, 'Source Sans Pro';
  }
  .interni-i4v {
    height: 1.7rem;
    left: 48.9rem;
    top: 90.1rem;
    text-transform: capitalize;
    font-family: Roboto, 'Source Sans Pro';
    white-space: nowrap;
    width: 4rem;
    position: absolute;
    text-align: center;
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 1.1725;
    color: #000000;
  }
  .prezzo-109-000-D1g {
    align-items: baseline;
    height: 2.9rem;
    position: absolute;
    font-weight: 300;
    line-height: 1.1725;
    font-family: Roboto, 'Source Sans Pro';
    white-space: nowrap;
    display: flex;
    width: 18.4rem;
    left: 6.5rem;
    top: 97.8rem;
    font-size: 2.4rem;
    color: #ffffff;

    .prezzo-109-000-D1g-sub-0 {
      color: #ffffff;
      font-family: Roboto, 'Source Sans Pro';
      font-size: 2.4rem;
      font-weight: 400;
      line-height: 1.1725;
    }
    .prezzo-109-000-D1g-sub-1 {
    }
  }
  .foto1-4-oEn {
    position: absolute;
    left: 0;
    top: 36.3rem;
    object-fit: cover;
    vertical-align: top;
    width: 102.1rem;
    height: 41.3rem;
  }
}
