
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 144rem;
}.third-page-s5G {
  background-color: #ffffff;
  width: 100%;
  height: 102.4rem;
  cursor: pointer;
  position: relative;
  overflow: hidden;

  .rectangle-3-ZTt {
    top: 96rem;
    box-shadow: 0 -0.4rem 1rem rgba(0, 0, 0, 0.25);
    background-color: #181818;
    width: 144rem;
    height: 6.4rem;
    position: absolute;
    left: 0;
  }
  .rectangle-1-GNJ {
    top: 0;
    background-color: #ffffff;
    width: 56.5rem;
    height: 102.4rem;
    position: absolute;
    left: 87.5rem;
    border: solid 0 #000000;
    box-sizing: border-box;
    box-shadow: 0 0.4rem 1rem rgba(0, 0, 0, 0.25);
  }
  .rectangle-2-ZMQ {
    box-shadow: 0 0.4rem 1rem rgba(0, 0, 0, 0.25);
    width: 144rem;
    position: absolute;
    left: 0;
    box-sizing: border-box;
    background-color: #ffffff;
    height: 7.8rem;
    top: 0;
    border: solid 0 #000000;
  }
  .rectangle-6-4ox {
    box-sizing: border-box;
    box-shadow: -0.4rem -0.4rem 1rem rgba(0, 0, 0, 0.25);
    width: 56.5rem;
    position: absolute;
    border: solid 0 #000000;
    background-color: #f8313e;
    height: 6.4rem;
    left: 87.5rem;
    top: 96rem;
  }
  .velocit-avanzata-meser-9qQ {
    position: absolute;
    font-size: 2.4rem;
    line-height: 1.1725;
    font-family: Roboto, 'Source Sans Pro';
    white-space: nowrap;
    color: #000000;
    display: flex;
    align-items: baseline;
    width: 31rem;
    height: 2.9rem;
    left: 9.2rem;
    top: 2.5rem;
    font-weight: 400;

    .velocit-avanzata-meser-9qQ-sub-0 {
      font-weight: 500;
      line-height: 1.1725;
      color: #000000;
      font-family: Roboto, 'Source Sans Pro';
      font-size: 2.4rem;
    }
    .velocit-avanzata-meser-9qQ-sub-1 {
    }
  }
  .ellipse-1-sup {
    top: 91.4rem;
    border: solid 0.2rem #000000;
    box-sizing: border-box;
    border-radius: 0.9rem;
    width: 1.8rem;
    height: 1.8rem;
    position: absolute;
    left: 112.1rem;
  }
  .ellipse-2-nWz {
    border-radius: 0.9rem;
    width: 1.8rem;
    height: 1.8rem;
    position: absolute;
    left: 114.9rem;
    top: 91.4rem;
    border: solid 0.2rem #000000;
    box-sizing: border-box;
  }
  .ellipse-3-htr {
    width: 1.8rem;
    height: 1.8rem;
    position: absolute;
    left: 117.7rem;
    top: 91.4rem;
    background-color: #f8313e;
    border-radius: 0.9rem;
  }
  .tappezzeria-dnW {
    font-weight: 300;
    line-height: 1.1725;
    color: #000000;
    font-family: Roboto, 'Source Sans Pro';
    white-space: nowrap;
    height: 4.3rem;
    left: 90.7rem;
    top: 12rem;
    width: 19.1rem;
    position: absolute;
    font-size: 3.6rem;
  }
  .dettagli-w2W {
    font-size: 3.6rem;
    font-weight: 300;
    color: #000000;
    font-family: Roboto, 'Source Sans Pro';
    position: absolute;
    height: 4.3rem;
    left: 90.9rem;
    top: 39.6rem;
    line-height: 1.1725;
    white-space: nowrap;
    width: 12.1rem;
  }
  .rectangle-7-RyG {
    height: 12rem;
    position: absolute;
    left: 90rem;
    top: 48.1rem;
    box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
    background-color: #ffffff;
    width: 10.4rem;
  }
  .rectangle-9-LqL {
    left: 100.3rem;
    top: 20.1rem;
    box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
    background-color: #ffffff;
    width: 10.4rem;
    height: 11.6rem;
    position: absolute;
  }
  .cosysec-2-FhQ {
    width: 7.6rem;
    height: 7.6rem;
    position: absolute;
    left: 101.7rem;
    top: 21.2rem;
    object-fit: cover;
    vertical-align: top;
  }
  .rectangle-8-mfk {
    left: 90rem;
    top: 58rem;
    box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
    background-color: #f8313e;
    width: 10.4rem;
    height: 2.4rem;
    position: absolute;
  }
  .rectangle-10-HPC {
    box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
    background-color: #f8313e;
    width: 10.4rem;
    height: 2.4rem;
    position: absolute;
    left: 100.3rem;
    top: 30rem;
  }
  .item-0-zoQ {
    height: 1.7rem;
    top: 58.4rem;
    font-size: 1.4rem;
    line-height: 1.1725;
    white-space: nowrap;
    width: 1.6rem;
    position: absolute;
    left: 94.4rem;
    text-align: center;
    font-weight: 400;
    color: #ffffff;
    font-family: Roboto, 'Source Sans Pro';
  }
  .item-2800-J3Q {
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 1.1725;
    font-family: Roboto, 'Source Sans Pro';
    height: 1.7rem;
    left: 103.35rem;
    top: 30.4rem;
    text-align: center;
    color: #ffffff;
    white-space: nowrap;
    width: 4.3rem;
    position: absolute;
  }
  .interni-in-pelle-nera-bHQ {
    font-weight: 400;
    font-family: Roboto, 'Source Sans Pro';
    white-space: nowrap;
    display: flex;
    width: 14.8rem;
    height: 1.9rem;
    position: absolute;
    top: 70.4rem;
    align-items: baseline;
    left: 90.7rem;
    font-size: 1.6rem;
    line-height: 1.1725;
    color: #000000;

    .interni-in-pelle-nera-bHQ-sub-0 {
      font-size: 1.6rem;
      font-weight: 400;
      line-height: 1.1725;
      color: #1c69d4;
      font-family: Roboto, 'Source Sans Pro';
    }
    .interni-in-pelle-nera-bHQ-sub-1 {
    }
  }
  .dettagli-in-alluminio-MA6 {
    position: absolute;
    top: 74.7rem;
    font-weight: 400;
    display: flex;
    color: #000000;
    font-family: Roboto, 'Source Sans Pro';
    white-space: nowrap;
    width: 15.4rem;
    height: 1.9rem;
    left: 90.7rem;
    font-size: 1.6rem;
    line-height: 1.1725;
    align-items: baseline;

    .dettagli-in-alluminio-MA6-sub-0 {
      color: #1c69d4;
      font-family: Roboto, 'Source Sans Pro';
      font-size: 1.6rem;
      font-weight: 400;
      line-height: 1.1725;
    }
    .dettagli-in-alluminio-MA6-sub-1 {
    }
  }
  .line-1-vMc {
    width: 56.5rem;
    height: 0.1rem;
    position: absolute;
    left: 87.5rem;
    top: 65.2rem;
    background-color: #eaeaea;
    box-shadow: 0 0.3rem 1.5rem rgba(0, 0, 0, 0.0500000007);
  }
  .line-2-ENJ {
    height: 0.1rem;
    position: absolute;
    left: 89.9rem;
    top: 80.5rem;
    background-color: #000000;
    box-shadow: 0 0.3rem 1.5rem rgba(0, 0, 0, 0.0500000007);
    width: 51.7rem;
  }
  .item-2800-x3Q {
    width: 4rem;
    height: 1.7rem;
    position: absolute;
    left: 136.8rem;
    top: 70.6rem;
    text-align: center;
    white-space: nowrap;
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 1.1725;
    color: #000000;
    font-family: Roboto, 'Source Sans Pro';
  }
  .item-0-rea {
    width: 1.6rem;
    left: 139.2rem;
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 1.1725;
    color: #000000;
    font-family: Roboto, 'Source Sans Pro';
    height: 1.7rem;
    position: absolute;
    top: 75rem;
    text-align: right;
    white-space: nowrap;
  }
  .item-2800-xSi {
    font-size: 1.4rem;
    width: 5.1rem;
    height: 1.7rem;
    left: 135.7rem;
    top: 82.7rem;
    position: absolute;
    line-height: 1.1725;
    color: #000000;
    font-family: Roboto, 'Source Sans Pro';
    font-weight: 400;
    align-items: baseline;
    text-align: center;
    white-space: nowrap;
    display: flex;

    .item-2800-xSi-sub-0 {
      color: #1c69d4;
      font-family: Roboto, 'Source Sans Pro';
      font-size: 1.4rem;
      font-weight: 400;
      line-height: 1.1725;
    }
    .item-2800-xSi-sub-1 {
    }
  }
  .totale--vH4 {
    line-height: 1.1725;
    font-family: Roboto, 'Source Sans Pro';
    white-space: nowrap;
    position: absolute;
    top: 82.7rem;
    font-size: 1.4rem;
    font-weight: 400;
    color: #000000;
    width: 4.3rem;
    height: 1.7rem;
    left: 90.7rem;
  }
  .interir-1JW {
    white-space: nowrap;
    width: 4.4rem;
    top: 90.1rem;
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 1.1725;
    color: #ffffff;
    height: 1.7rem;
    position: absolute;
    left: 48.7rem;
    text-align: center;
    text-transform: capitalize;
    font-family: Roboto, 'Source Sans Pro';
  }
  .cosysec-7-6qk {
    left: 101.5rem;
    top: 21.1rem;
    object-fit: cover;
    vertical-align: top;
    width: 7.8rem;
    height: 7.7rem;
    position: absolute;
  }
  .cosysec-6-cJJ {
    position: absolute;
    left: 90.8rem;
    top: 21.1rem;
    object-fit: cover;
    vertical-align: top;
    width: 7.7rem;
    height: 7.7rem;
  }
  .cosysec-5-8nS {
    left: 90.8rem;
    top: 49.3rem;
    object-fit: cover;
    vertical-align: top;
    width: 7.7rem;
    height: 7.8rem;
    position: absolute;
  }
  .cosysec-4-4vz {
    left: 101.6rem;
    top: 49.3rem;
    object-fit: cover;
    vertical-align: top;
    width: 7.8rem;
    height: 7.8rem;
    position: absolute;
  }
  .prezzo-85-000-15Y {
    height: 2.9rem;
    position: absolute;
    font-size: 2.4rem;
    font-family: Roboto, 'Source Sans Pro';
    white-space: nowrap;
    display: flex;
    width: 17.1rem;
    left: 6.5rem;
    top: 97.8rem;
    font-weight: 300;
    line-height: 1.1725;
    color: #ffffff;
    align-items: baseline;

    .prezzo-85-000-15Y-sub-0 {
      font-size: 2.4rem;
      font-weight: 400;
      line-height: 1.1725;
      color: #ffffff;
      font-family: Roboto, 'Source Sans Pro';
    }
    .prezzo-85-000-15Y-sub-1 {
    }
  }
  .procedi-nVc {
    width: 9.8rem;
    position: absolute;
    text-align: center;
    font-weight: 400;
    line-height: 1.1725;
    font-family: Roboto, 'Source Sans Pro';
    white-space: nowrap;
    height: 2.9rem;
    left: 110.85rem;
    top: 97.8rem;
    font-size: 2.4rem;
    text-transform: uppercase;
    color: #ffffff;
  }
  .rectangle-11-hMg {
    box-sizing: border-box;
    background-color: #f8313e;
    height: 3.2rem;
    position: absolute;
    left: 29.5rem;
    border: solid 0 #000000;
    width: 28.5rem;
    top: 89.1rem;
    box-shadow: -0.4rem -0.4rem 1rem rgba(0, 0, 0, 0.25);
  }
  .rectangle-12-CZL {
    top: 89.1rem;
    border: solid 0 #000000;
    box-shadow: -0.2rem 0 0.5rem rgba(0, 0, 0, 0.1000000015);
    background-color: #ffffff;
    position: absolute;
    height: 3.2rem;
    left: 43.8rem;
    box-sizing: border-box;
    width: 14.2rem;
  }
  .esterni-6Pp {
    font-size: 1.4rem;
    line-height: 1.1725;
    color: #ffffff;
    width: 4.4rem;
    position: absolute;
    left: 34.45rem;
    font-weight: 400;
    text-transform: capitalize;
    font-family: Roboto, 'Source Sans Pro';
    white-space: nowrap;
    height: 1.7rem;
    top: 90.1rem;
    text-align: center;
  }
  .interni-1Ft {
    width: 4rem;
    height: 1.7rem;
    left: 48.9rem;
    text-align: center;
    font-size: 1.4rem;
    line-height: 1.1725;
    text-transform: capitalize;
    position: absolute;
    top: 90.1rem;
    font-weight: 400;
    color: #000000;
    font-family: Roboto, 'Source Sans Pro';
    white-space: nowrap;
  }
  .bab-a8c4-40e5-89a0-37e9491f6a1f-1-ivz {
    left: 0;
    top: 12rem;
    object-fit: cover;
    vertical-align: top;
    width: 87.5rem;
    height: 72.7rem;
    position: absolute;
  }
}
