html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  height: 100vh;
  min-width: 1440px;
  min-height: 744px;
}.first-page-3kr {
  width: 100%;
  height: 100%;
  position: relative;
  overflow: hidden;
  background-color: #ffffff;
}
.first-page-3kr .rectangle-3-gJ2 {
  width: 100%;
  height: 7.5rem;
  position: absolute;
  left: 0;
  top: 93%;
  box-shadow: 0 -0.4rem 1rem rgba(0, 0, 0, 0.25);
  background-color: #181818;
}
.first-page-3kr .price-69-000-HYi {
  width: 15.2rem;
  height: 2.9rem;
  position: absolute;
  left: 6.5rem;
  top: 95%;
  font-size: 2.4rem;
  font-weight: 300;
  line-height: 1.1725;
  color: #ffffff;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: baseline;
}
.first-page-3kr .price-69-000-HYi .price-69-000-HYi-sub-0 {
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 1.1725;
  color: #ffffff;
  font-family: Roboto, 'Source Sans Pro';
}
.first-page-3kr .rectangle-1-AW2 {
  width: 90%;
  height: 100vh;
  position: absolute;
  left: 55%;
  top: 0;
  border: solid 0 #000000;
  box-sizing: border-box;
  box-shadow: 0 0.4rem 1rem rgba(0, 0, 0, 0.25);
  background-color: #ffffff;
}
.first-page-3kr .rectangle-2-3pi {
  width: 100%;
  height: 7.8rem;
  position: absolute;
  left: 0;
  top: 0;
  border: solid 0 #000000;
  box-sizing: border-box;
  box-shadow: 0 0.4rem 1rem rgba(0, 0, 0, 0.25);
  background-color: #ffffff;
}
.first-page-3kr .rectangle-4-wv6 {
  width: 20rem;
  height: 4rem;
  position: absolute;
  left: 72.5%;
  top: 35rem;
  border: solid 0 #000000;
  box-sizing: border-box;
  box-shadow: 0 -0.4rem 1rem rgba(0, 0, 0, 0.25);
  background-color: #f8313e;
}
.first-page-3kr .rectangle-5-FQz {
  width: 20rem;
  height: 4rem;
  position: absolute;
  left: 72.5%;
  top: 62rem;
  border: solid 0 #000000;
  box-sizing: border-box;
  box-shadow: 0 -0.4rem 1rem rgba(0, 0, 0, 0.25);
  background-color: #f8313e;
}
.first-page-3kr .rectangle-6-jb4 {
  width: 100%;
  height: 7.5rem;
  position: absolute;
  left: 55%;
  top: 93%;
  border: solid 0 #000000;
  box-sizing: border-box;
  box-shadow: -0.4rem -0.4rem 1rem rgba(0, 0, 0, 0.25);
  background-color: #f8313e;
}
.first-page-3kr .rectangle-7-DFL {
  width: 28.5rem;
  height: 3.2rem;
  position: absolute;
  left: 29.5rem;
  top: 80%;
  border: solid 0 #000000;
  box-sizing: border-box;
  box-shadow: -0.4rem -0.4rem 1rem rgba(0, 0, 0, 0.25);
  background-color: #f8313e;
}
.first-page-3kr .rectangle-8-J1t {
  width: 14.2rem;
  height: 3.2rem;
  position: absolute;
  left: 43.8rem;
  top: 80%;
  border: solid 0 #000000;
  box-sizing: border-box;
  box-shadow: -0.2rem 0 0.5rem rgba(0, 0, 0, 0.1000000015);
  background-color: #ffffff;
}
.first-page-3kr .velocit-avanzata-meser-P3L {
  width: 31rem;
  height: 2.9rem;
  position: absolute;
  left: 5rem;
  top: 2.5rem;
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 1.1725;
  color: #000000;
  font-family: Roboto, 'Source Sans Pro';
}
.first-page-3kr .velocit-avanzata-meser-P3L .velocit-avanzata-meser-P3L-sub-0 {
  font-size: 2.4rem;
  font-weight: 500;
  line-height: 1.1725;
  color: #000000;
  font-family: Roboto, 'Source Sans Pro';
}
.first-page-3kr .motore-T58 {
  width: 11.4rem;
  height: 4.3rem;
  position: absolute;
  left: 63%;
  top: 12rem;
  font-size: 3.6rem;
  font-weight: 300;
  line-height: 1.1725;
  color: #000000;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
}
.first-page-3kr .pacchetto-9Cr {
  width: 16rem;
  height: 4.3rem;
  position: absolute;
  left: 63%;
  top: 42rem;
  font-size: 3.6rem;
  font-weight: 300;
  line-height: 1.1725;
  color: #000000;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
}
.first-page-3kr .meser-2300-Rw4 {
  width: 12.7rem;
  height: 2.9rem;
  position: absolute;
  left: 73%;
  top: 13rem;
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 1.1725;
  color: #000000;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
}
.first-page-3kr .model-sport-w8i {
  width: 13.1rem;
  height: 2.9rem;
  position: absolute;
  left: 76%;
  top: 43rem;
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 1.1725;
  color: #000000;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
}
.first-page-3kr .carburante--SLN {
  width: 7.4rem;
  height: 1.7rem;
  position: absolute;
  left: 63%;
  top: 20rem;
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 1.1725;
  color: #000000;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
}
.first-page-3kr .sospensioni-sport-freni-w2E {
  width: 15.5rem;
  height: 1.7rem;
  position: absolute;
  left: 63%;
  top: 50rem;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.1725;
  color: #000000;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
}
.first-page-3kr .potenza--QgW {
  width: 5.6rem;
  height: 1.7rem;
  position: absolute;
  left: 79%;
  top: 20rem;
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 1.1725;
  color: #000000;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
}
.first-page-3kr .ruote-86i {
  width: 5.7rem;
  height: 1.7rem;
  position: absolute;
  left: 89%;
  top: 50rem;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.1725;
  color: #000000;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
}
.first-page-3kr .consumo--q18 {
  width: 6.4rem;
  height: 1.7rem;
  position: absolute;
  left: 63%;
  top: 25rem;
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 1.1725;
  color: #000000;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
}
.first-page-3kr .interni-sport-LTg {
  width: 7.6rem;
  height: 1.7rem;
  position: absolute;
  left: 63%;
  top: 56rem;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.1725;
  color: #000000;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
}
.first-page-3kr .accelerazione--dxa {
  width: 9.3rem;
  height: 1.7rem;
  position: absolute;
  left: 79%;
  top: 25rem;
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 1.1725;
  color: #000000;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
}
.first-page-3kr .luci-full-led-L6J {
  width: 7.7rem;
  height: 1.7rem;
  position: absolute;
  left: 74%;
  top: 56rem;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.1725;
  color: #000000;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
}
.first-page-3kr .pacchetto-areodinamico-RNe {
  width: 15.1rem;
  height: 1.7rem;
  position: absolute;
  left: 84%;
  top: 56rem;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.1725;
  color: #000000;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
}
.first-page-3kr .trazione--Wut {
  width: 5.8rem;
  height: 1.7rem;
  position: absolute;
  left: 63%;
  top: 30rem;
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 1.1725;
  color: #000000;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
}
.first-page-3kr .sport-transmission-R1G {
  width: 11.9rem;
  height: 1.7rem;
  position: absolute;
  left: 77%;
  top: 50rem;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.1725;
  color: #000000;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
}
.first-page-3kr .trasmissione--XCi {
  width: 8.9rem;
  height: 1.7rem;
  position: absolute;
  left: 79%;
  top: 30rem;
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 1.1725;
  color: #000000;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
}
.first-page-3kr .gas-QXQ {
  width: 2.3rem;
  height: 1.7rem;
  position: absolute;
  left: 70%;
  top: 20rem;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.1725;
  color: #000000;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
}
.first-page-3kr .kw-260-ps-WaS {
  width: 10.4rem;
  height: 1.7rem;
  position: absolute;
  left: 86%;
  top: 20rem;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.1725;
  color: #000000;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
}
.first-page-3kr .km-1n6 {
  width: 7.1rem;
  height: 1.7rem;
  position: absolute;
  left: 70%;
  top: 25rem;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.1725;
  color: #000000;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
}
.first-page-3kr .s-Wir {
  width: 3rem;
  height: 1.7rem;
  position: absolute;
  left: 86%;
  top: 25rem;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.1725;
  color: #000000;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
}
.first-page-3kr .posteriore-DNN {
  width: 6.4rem;
  height: 1.7rem;
  position: absolute;
  left: 70%;
  top: 30rem;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.1725;
  color: #000000;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
}
.first-page-3kr .automatica-sequenziale-v1t {
  width: 15.1rem;
  height: 1.7rem;
  position: absolute;
  left: 86%;
  top: 30rem;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.1725;
  color: #000000;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
}
.first-page-3kr .select-motore-Czz {
  width: 12rem;
  height: 2.4rem;
  position: absolute;
  left: 74.5%;
  top: 36.1rem;
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.1725;
  color: #ffffff;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
}
.first-page-3kr .select-pacchetto-X1g {
  width: 15rem;
  height: 2.4rem;
  position: absolute;
  left: 74%;
  top: 63rem;
  text-align: center;
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.1725;
  color: #ffffff;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
}
.first-page-3kr .procedi-1hY {
  width: 9.8rem;
  height: 2.9rem;
  position: absolute;
  left: 75%;
  top: 95%;
  text-align: center;
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 1.1725;
  text-transform: uppercase;
  color: #ffffff;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
}
.first-page-3kr .esterni-KCS {
  width: 4.4rem;
  height: 1.7rem;
  position: absolute;
  left: 34.45rem;
  top: 81%;
  text-align: center;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.1725;
  text-transform: capitalize;
  color: #ffffff;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
}
.first-page-3kr .interni-Qjg {
  width: 4rem;
  height: 1.7rem;
  position: absolute;
  left: 48.9rem;
  top: 81%;
  text-align: center;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.1725;
  text-transform: capitalize;
  color: #000000;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
}
.first-page-3kr .foto1-2-ikN {
  width: 60%;
  height: 41.3rem;
  position: absolute;
  right: 44%;
  top: 28%;
  object-fit: cover;
  vertical-align: top;
}
#informazioni {
  width: 30rem;
  height: 15rem;
  position: absolute;
  right: 10%;
  top: 15rem;
  font-size: 1.6rem;
  font-weight: bold;
  color: #000000;
  font-family: Roboto, 'Source Sans Pro';
  border: solid 2px #737373;
}
#informazioni2 {
  width: 30rem;
  height: 15rem;
  position: absolute;
  right: 10%;
  top: 45rem;
  font-size: 1.6rem;
  font-weight: bold;
  color: #000000;
  font-family: Roboto, 'Source Sans Pro';
  border: solid 2px #737373;
}
button {
  width: 10rem;
  height: 5rem;
  position: absolute;
  font-size: 1.6rem;
  font-weight: bold;
  color: #ffffff;
  background-color: #f8313e;
  border: none;
  cursor: pointer;
}
#button1 {
  right: 2%;
  top: 20rem;
}

#button2 {
  right: 32%;
  top: 20rem;
}

#button3 {
  right: 2%;
  top: 50rem;
}

#button4 {
  right: 32%;
  top: 50rem;
}