html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 144rem;
}.first-page-3kr {
  width: 100%;
  height: 100vh;
  cursor: pointer;
  position: relative;
  overflow: hidden;
  background-color: #ffffff;
}
.first-page-3kr .rectangle-3-gJ2 {
  width: 144rem;
  height: 6.4rem;
  position: absolute;
  left: 0;
  top: 93%;
  box-shadow: 0 -0.4rem 1rem rgba(0, 0, 0, 0.25);
  background-color: #181818;
}
.first-page-3kr .price-69-000-HYi {
  width: 15.2rem;
  height: 2.9rem;
  position: absolute;
  left: 6.5rem;
  top: 95%;
  font-size: 2.4rem;
  font-weight: 300;
  line-height: 1.1725;
  color: #ffffff;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: baseline;
}
.first-page-3kr .price-69-000-HYi .price-69-000-HYi-sub-0 {
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 1.1725;
  color: #ffffff;
  font-family: Roboto, 'Source Sans Pro';
}
.first-page-3kr .rectangle-1-AW2 {
  width: 56.5rem;
  height: 102.4rem;
  position: absolute;
  left: 87.5rem;
  top: 0;
  border: solid 0 #000000;
  box-sizing: border-box;
  box-shadow: 0 0.4rem 1rem rgba(0, 0, 0, 0.25);
  background-color: #ffffff;
}
.first-page-3kr .rectangle-2-3pi {
  width: 144rem;
  height: 7.8rem;
  position: absolute;
  left: 0;
  top: 0;
  border: solid 0 #000000;
  box-sizing: border-box;
  box-shadow: 0 0.4rem 1rem rgba(0, 0, 0, 0.25);
  background-color: #ffffff;
}
.first-page-3kr .rectangle-4-wv6 {
  width: 20rem;
  height: 4rem;
  position: absolute;
  left: 72.5%;
  top: 35rem;
  border: solid 0 #000000;
  box-sizing: border-box;
  box-shadow: 0 -0.4rem 1rem rgba(0, 0, 0, 0.25);
  background-color: #f8313e;
}
.first-page-3kr .rectangle-5-FQz {
  width: 20rem;
  height: 4rem;
  position: absolute;
  left: 72.5%;
  top: 62rem;
  border: solid 0 #000000;
  box-sizing: border-box;
  box-shadow: 0 -0.4rem 1rem rgba(0, 0, 0, 0.25);
  background-color: #f8313e;
}
.first-page-3kr .rectangle-6-jb4 {
  width: 56.5rem;
  height: 6.4rem;
  position: absolute;
  left: 87.5rem;
  top: 93%;
  border: solid 0 #000000;
  box-sizing: border-box;
  box-shadow: -0.4rem -0.4rem 1rem rgba(0, 0, 0, 0.25);
  background-color: #f8313e;
}
.first-page-3kr .rectangle-7-DFL {
  width: 28.5rem;
  height: 3.2rem;
  position: absolute;
  left: 29.5rem;
  top: 80%;
  border: solid 0 #000000;
  box-sizing: border-box;
  box-shadow: -0.4rem -0.4rem 1rem rgba(0, 0, 0, 0.25);
  background-color: #f8313e;
}
.first-page-3kr .rectangle-8-J1t {
  width: 14.2rem;
  height: 3.2rem;
  position: absolute;
  left: 43.8rem;
  top: 80%;
  border: solid 0 #000000;
  box-sizing: border-box;
  box-shadow: -0.2rem 0 0.5rem rgba(0, 0, 0, 0.1000000015);
  background-color: #ffffff;
}
.first-page-3kr .velocit-avanzata-meser-P3L {
  width: 31rem;
  height: 2.9rem;
  position: absolute;
  left: 5rem;
  top: 2.5rem;
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 1.1725;
  color: #000000;
  font-family: Roboto, 'Source Sans Pro';
}
.first-page-3kr .velocit-avanzata-meser-P3L .velocit-avanzata-meser-P3L-sub-0 {
  font-size: 2.4rem;
  font-weight: 500;
  line-height: 1.1725;
  color: #000000;
  font-family: Roboto, 'Source Sans Pro';
}
.first-page-3kr .colore-T58 {
  width: 11.4rem;
  height: 4.3rem;
  position: absolute;
  left: 90.7rem;
  top: 12rem;
  font-size: 3.6rem;
  font-weight: 400;
  line-height: 1.1725;
  color: #000000;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
}
.first-page-3kr .cerchi-9Cr {
  width: 16rem;
  height: 4.3rem;
  position: absolute;
  left: 63%;
  top: 42rem;
  font-size: 3.6rem;
  font-weight: 400;
  line-height: 1.1725;
  color: #000000;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
}
.first-page-3kr .select-colore-Czz {
  width: 15rem;
  height: 2.4rem;
  position: absolute;
  left: 75.3%;
  top: 36rem;
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.1725;
  color: #ffffff;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
}
.first-page-3kr .select-cerchi-X1g {
  width: 15rem;
  height: 2.4rem;
  position: absolute;
  left: 74.5%;
  top: 63rem;
  text-align: center;
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.1725;
  color: #ffffff;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
}
.first-page-3kr .procedi-1hY {
  width: 9.8rem;
  height: 2.9rem;
  position: absolute;
  left: 110.85rem;
  top: 95%;
  text-align: center;
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 1.1725;
  text-transform: uppercase;
  color: #ffffff;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
}
.first-page-3kr .esterni-KCS {
  width: 4.4rem;
  height: 1.7rem;
  position: absolute;
  left: 34.45rem;
  top: 81%;
  text-align: center;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.1725;
  text-transform: capitalize;
  color: #ffffff;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
}
.first-page-3kr .interni-Qjg {
  width: 4rem;
  height: 1.7rem;
  position: absolute;
  left: 48.9rem;
  top: 81%;
  text-align: center;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.1725;
  text-transform: capitalize;
  color: #000000;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
}
.first-page-3kr .foto1-2-ikN {
  width: 85rem;
  height: 41.3rem;
  position: absolute;
  left: 0;
  top: 28%;
  object-fit: cover;
  vertical-align: top;
}
.first-page-3kr .MetallicRed {
  width: 80px;
  height: 80px;
  position: absolute;
  left: 66%;
  top: 20rem;
  vertical-align: top;
}
.first-page-3kr .MetallicBlue {
  width: 80px;
  height: 80px;
  position: absolute;
  left: 74%;
  top: 20rem;
  vertical-align: top;
}
.first-page-3kr .MetallicBlack {
  width: 80px;
  height: 80px;
  position: absolute;
  left: 82%;
  top: 20rem;
  vertical-align: top;
}
.first-page-3kr .PearlWhite {
  width: 80px;
  height: 80px;
  position: absolute;
  left: 90%;
  top: 20rem;
  vertical-align: top;
}
.first-page-3kr .GreyWheels {
  width: 80px;
  height: 80px;
  position: absolute;
  left: 69%;
  top: 50rem;
  vertical-align: top;
}
.first-page-3kr .BlackWheels {
  width: 80px;
  height: 80px;
  position: absolute;
  left: 77%;
  top: 50rem;
  vertical-align: top;
}
.first-page-3kr .BBS {
  width: 80px;
  height: 80px;
  position: absolute;
  left: 85%;
  top: 50rem;
  vertical-align: top;
}